.box{
    border: 2px dotted rebeccapurple;
    width: 300px;
}
/*.ring{
    position: relative;
    left: 40px;
    top:-30px;
}*/
.swim-container{
    position: relative;
    border: 2px solid peru;
}
/*.ring{
    position: absolute;
    top: 500px;
    left: 100px;
}*/
.dummy{
border: 1px solid tomato;
height: 200px;
width: 150px;
}
/*.ring{
    position: sticky;
    top: 100px;
}*/
.another{
    border: 2px solid blue;
}
.ring{
    position: fixed;
    top: 200px;
    left: 50px;
}